@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index233</h2>



<div class="answer">
    -
</div>





<script>
    debugger;

    var a = 100;
    var b = 100;
    var c = a + b;

    var element = $(".answer")[0];
    element.innerText = c;

</script>


