@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*<div class="member-container">
        <div class="name-container">some text</div>
        <img class="plus-image" src="~/Content/images/plus.ico" />
    </div>*@

<div>
    <input type="file" name="UploadFile" id="uploadFile" class="makethispretty" />
</div>

<div class="result">

</div>


<script>
    $('#uploadFile').on('change', function (e) {
        //debugger;
        var files = e.target.files;

        var rebindShowEvents = function (item) {
            $('.image-container').unbind();
            $('.image-container').click(showTypeFunc);
        }

        var getTypeInfoHtml = function (item) {
            var res = "<div class='member-container' id='" + item.Id + "'><div class='name-container'>" + item.Name;
            if (item.IsHasChild == true) {
                res += "</div><div class='image-plus image-container' id='" + item.Id + "_img' ></div>";
            }
            res += "</div>";
            return res;
        }

        var getSampleTypesInfoHtml = function (arr) {
            var res = "";
            arr.forEach(function (item) {
                res += "<div class=\"member-container\"><div class=\"name-container\">" +
                       item + "</div></div>";
            });
            return res;
        }

        var getTypesInfoHtml = function (arr) {
            var res = "";
            arr.forEach(function (item) {
                res += getTypeInfoHtml(item);
            });
            return res;
        }

        var showTypeFunc = function (e) {
            debugger;

            var parrent = $("#" + e.target.parentNode.id)[0];

            var parrentNode = e.target.parentNode; 

            if (parrentNode.childNodes.length === 2) {

                $.ajax({
                    type: "POST",
                    url: 'Home/GetTypeInfo?name=' + parrent.innerText,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        debugger;

                        var str = "<div class='childs-container' id='" + e.target.parentNode.id + "_childs'>";

                        str += getSampleTypesInfoHtml(result.Functions);
                        str += getSampleTypesInfoHtml(result.Events);
                        str += getTypesInfoHtml(result.Childs);

                        str += "</div><div class='image-plus'></div>";


                        $("#" + e.target.parentNode.id).append(str);
                        $("#" + e.target.parentNode.id + "_img").removeClass("image-plus").addClass("image-minus");

                        rebindShowEvents();

                        console.log(result);
                    },
                    error: function (xhr, status, p3, p4) {
                        debugger;
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });

            }
            else {

                var childDiv = parrentNode.childNodes[2];
                var imageDiv = parrentNode.childNodes[1];

                if ($(imageDiv).hasClass("image-plus") === true) {

                    $(childDiv).removeClass("childs-container-hide").addClass("childs-container-show");
                    $(imageDiv).removeClass("image-plus").addClass("image-minus");
                }
                else {

                    $(childDiv).removeClass("childs-container-show").addClass("childs-container-hide");
                    $(imageDiv).removeClass("image-minus").addClass("image-plus");
                }
            }
        }

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: 'Home/UploadFile',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        // debugger;

                        $("div.result").empty();

                        for (var i = 0; i < result.length; i++) {

                            var item = getTypeInfoHtml(result[i]);
                            //var item = "<div class='member-container' id='" + result[i].Id + "'><div class='name-container'>" + result[i].Name;                            

                            //if(result[i].IsHasChild == true) {
                            //    item += "</div><img class='plus-image' src='/Content/images/plus1.png' id='" + result[i].Id + "_img' />";
                            //}
                            //item += "</div>";

                            $(".result").append(item);
                        }

                        $('.image-container').click(showTypeFunc);

                        console.log(result);
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });




</script>


