@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="input-container">
    <input type="file" name="UploadFile" id="uploadFile" class="inputfile" />
</div>

<div class="result">

</div>

<script src="~/Scripts/Parsing/StringHelper.js"></script>
<script src="~/Scripts/Parsing/ParsingResultLoader.js"></script>
<script src="~/Scripts/Parsing/DllLoader.js"></script>


