body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.plus-image {
    width: 25px;
    height: 25px;
}

.member-container {
    text-align: left;
    margin-left: 20px;
    padding: 1px;
}

.name-container {
    display: inline-block;
    padding-top: 2px;
    vertical-align: top;
}

.image-container {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 100%;
}


.image-plus {
    background-image: url(/Content/images/closeCursor_img.png);
}

.image-minus {
    background-image: url(/Content/images/openCursor_img.png);   
}

.childs-container {

}

.input-container {
    height: 50px;
    background-color: gold;
}

.version-container {
    float: right;
    margin-top: 15px;
    margin-right: 30px;
}

.inputfile {
    margin-top: 15px;
    margin-left: 30px;
}

.result {
}

.image-Constructor {
    background-image: url(/Content/images/method_img.png);   
}

.image-Event {
    background-image: url(/Content/images/event_img.png);   
}

.image-Field {
    background-image: url(/Content/images/field_img.png);   
}

.image-members {
    background-image: url(/Content/images/method_img.png);   
}

.image-Method {
    background-image: url(/Content/images/method_img.png);   
}

.image-nestedTypes {
    background-image: url(/Content/images/method_img.png);   
}

.image-Property {
    background-image: url(/Content/images/property_img.png);   
}

.image-Class {
    background-image: url(/Content/images/class_img.png);   
}

.image-Namespace {
    background-image: url(/Content/images/namespace_img.png);   
}

.error-container {
    background-color: lightcoral;
    padding-left: 30px;
    padding-top: 15px;
    height: 36px;
}
